/* Andrew Janicke 10/4/21 
    CSS for both pages of the Midterm */

/* Global Wrapper */
#wrapper { 
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333;
}

/* ID styling for the pages. */
/* Main Page */
#workhistory {
    text-align: center;
}

#fam {
    float: left;
    max-width: 100%;
    margin: 10px 50px 5px 200px;
    border: 1px solid black;
}

#aboutme{
    padding-top: 1px;
    padding-right: 200px;
    padding-bottom: 110px;
    padding-left: 20px;
    display: block;
}

#aboutmeP {
    font-size-adjust: .60;    
}

/* Second Page */

#ytd {
    max-width: 100%;
    float: left;
    margin: 0px 10px 10px 10px ;
}

#gameboy {
    padding-top: 10%;
}

#gba {
    max-width: 100%;
}

/* All elements for the pages */

body {
    background-color: #000000;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,#FFFFFF, #000000);
    background-repeat: no-repeat;
}

header {
    background-color: #4d4e52;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000
}

nav {
    background-color: #4d4e52ce;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}

h1, h2, h3 { font-family: Georgia, 'Times New Roman', serif; }

h1 { 
    margin-top: 0; 
}

h2 {
    text-decoration: underline;
    color: rgb(182, 179, 179);
    text-shadow: -1px 1px 1px #000000;
}

h3 {
    color: #000033;
    font-size-adjust: .60;
}

ul {
    font-size-adjust: .60;
}

dl {
    font-size-adjust: .60;
}

dt {
    color: #000000;
    font-weight: bold;
}

p {
    font-size-adjust: .60;
}

footer {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 2em;
}


/* The button animations */

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
}

.button:hover {
    background-color: #555555; 
    color: white;
}

